{% extends 'base.html.twig' %}

{% block body %}
    <section class="section-wrapper" id="contacts">
        <div class="contacts">
            <div class="row">
                <div class="container">
                    <div style="display: flex; justify-content: center" class="section-title wow fadeInDown"
                         data-wow-duration="1s" data-wow-delay="300ms">
                        <h1 id="titreSection"><span>Contact</span></h1>
                    </div>
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Nos coordonnées <span
                                class="main-color"></span>Pour répondre à vos questions</h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="wrapper-contacts">
                        <div class="contact_form">
                            <div class="row">
                                <div class="wrapper-contacts-icons">
                                    <div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <div class="">5, chemin de la pierre à poisson 78250</div>
                                        <div class="">Meulan en Yvelines FRANCE</div>
                                    </div>
                                    <div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="450ms">
                                        <i class="fas fa-mobile"></i>
                                        <div class="">Lun - vendredi 9h00 - 18h00</div>
                                        <div class="">06 68 69 56 40</div>
                                    </div>
                                    <div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">
                                        <i class="fas fa-envelope"></i>
                                        <div class="">Adresse mail</div>
                                        <div class="">
                                            <a href="#">contact@Lemoutondesvilles.fr</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% for label, messages in app.flashes(['success', 'warning']) %}
                                {% for message in messages %}
                                    <div style="margin-top: 20px" class="alert alert-{{ label }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
                                <form id="contact-form" method="post" action="#">
                                    {{ form_start(form, {attr : {novalidate: 'novalidate'}}) }}
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(form.firstname) }}
                                            {{ form_row(form.lastname) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_row(form.mail) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_row(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(form.subject) }}
                                            {{ form_row(form.message, {attr: {rows:7}}) }}
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="" value="Envoyer">
                                        </div>
                                    </div>

                                    <div style="text-align: justify" class="form-group col-md-12">
                                        {{ form_row(form.cookies) }}
                                    </div>
                                    {{ form_end(form) }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
