{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
            <div class="wrapper-why-us">
                <div class="col-lg-3 col-sm-3 wow fadeInDown" data-wow-duration="1s"
                     data-wow-delay="300ms">
                    <a href="#" onclick="tous()"><i class="hovicon effect-1 sub-a"><b class="fa fa-list"></b></i></a>
                    <h2><strong style="color : #FF249F">TOUS</strong></h2>
                </div>
                <div class="col-lg-3 col-sm-3 wow fadeInDown" data-wow-duration="1s"
                     data-wow-delay="300ms">
                    <a href="#n1" onclick="coeur()"><i class="hovicon effect-1 sub-a"><b class="fa fa-heart"></b></i></a>
                    <h2><strong style="color : #FF249F">COUP DE COEUR</strong></h2>
                </div>
                <div class="col-lg-3 col-sm-3 wow fadeInDown" data-wow-duration="1s"
                     data-wow-delay="450ms">
                    <a href="#n2" onclick="promo()"><i class="hovicon effect-1 sub-a"><b class="fa fa-percent"></b></i></a>
                    <h2 style=" color: #FF249F"><strong>PROMOTION</strong></h2>
                </div>
                <div class="col-lg-3 col-sm-3 wow fadeInDown" data-wow-duration="1s"
                     data-wow-delay="600ms">
                    <a href="#n3" onclick="fds()"><i class="hovicon effect-1 sub-a"><b class="fa fa-box-open"></b></i></a>
                    <h2 style="color : #FF249F"><strong>FIN DE SÉRIE</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <section class="section-wrapper" id="1">
        <div class="team">
            <div class="meet-the-team">
                <div class="container">
                    <div class="row">
                        <div class="element-title wow fadeInDown element-title" data-wow-duration="1s" data-wow-delay="300ms">
                            <h1 id="titreSection">Nos coups de coeur</h1>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
                    <div class="container">
                        <div class="wrapper-team">
                            {% for CoupDeCoeurs in CoupDeCoeur %}
                                {% if CoupDeCoeurs.online == true %}
                            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12" style="padding-bottom: 20px">
                                <div class="card-group" style="border-radius: 10px;border: 1px solid black;box-shadow: 10px 10px 5px -4px;">
                                    <div class="card" style="text-align: -webkit-center" id="n1">
                                        <div style="height: 300px">
                                            <img class="card-img-top" src="{{  vich_uploader_asset(CoupDeCoeurs, 'imageFile') }}" alt="Card image cap" style="border-radius: 10px 10px 0 0;height: 100%; width: 100%">
                                        </div>
                                        <div style="min-height: 430px">
                                            <div class="card-body" style="min-height: 370px; padding: 0 40px 30px 40px">
                                                <hr>
                                                <h2 class="card-title" style="color: #6d509e;"><strong>{{ CoupDeCoeurs.title }}</strong></h2>
                                                <hr>
                                                <div style="min-height: 235px; word-break: break-word">
                                                    <p class="card-text"><i>{{ CoupDeCoeurs.description}}</i></p>
                                                    <p class="card-text" style="text-align: center; color: red"><span><strong>{{ CoupDeCoeurs.remise }}</strong></span></p>
                                                </div>

                                            </div>
                                            <div style="padding: 10px; background-color: #6d509e; border-radius: 10px; width: 80%; margin-bottom: 30px;box-shadow: 10px 10px 5px -4px;">
                                                <a href="{{ path ('contact') }}"><strong style="color: white">Demande de renseignements</strong></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="facts parallax" id="2">
        <div class="overlay">
            <div class="wrapper-block-facts">
                <div class="container">
                    <div class="row">
                        <div class="element-title">
                            <h1 id="titreSection" class="main-color wow fadeInUp" data-wow-duration="1s"
                                data-wow-delay="300ms">
                                Nos promotions</h1>
                        </div>
            </div><div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
                <div class="container">
                    <div class="wrapper-team">
                    {% for Promos in Promo  %}
                        {% if Promos.online == true %}
                        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12" style="padding-bottom: 20px">
                            <div class="card-group" style="border-radius: 10px;border: 1px solid black;box-shadow: 10px 10px 5px -4px; background-color: white; margin-top: 40px">
                                <div class="card" style="text-align: -webkit-center; margin-bottom: 20px" id="n2">
                                    <div style="height: 300px">
                                        <img class="card-img-top" src="{{  vich_uploader_asset(Promos, 'imageFile') }}" alt="Card image cap" style="border-radius: 10px 10px 0 0;height: 100%; width: 100%">
                                    </div>
                                    <div class="card-body" style="min-height: 370px; padding: 0 40px 30px 40px">
                                        <hr>
                                        <h2 class="card-title" style="color: #6d509e"><strong>{{ Promos.title }}</strong></h2>
                                        <hr>
                                        <div style="min-height: 235px; word-break: break-word">
                                            <p class="card-text"><i>{{ Promos.description}}</i></p>
                                            <p class="card-text" style="text-align: center; color: red"><span><strong>{{ Promos.remise }}</strong></span></p>
                                        </div>

                                    </div>
                                    <div style="padding: 10px; background-color: #6d509e; border-radius: 10px; width: 80%; box-shadow: 10px 10px 5px -4px;">
                                        <a href="{{ path ('contact') }}"><strong style="color: white">Demande de renseignements</strong></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-wrapper" id="3">
        <div class="team">
            <div class="meet-the-team">
                <div class="container">
                    <div class="row">
                        <div class="element-title wow fadeInDown element-title" data-wow-duration="1s" data-wow-delay="300ms">
                            <h1 id="titreSection">Nos fins de série</h1>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
                    <div class="container">
                        <div class="wrapper-team">
                            {% for FinDeSeries in FinDeSerie  %}
                                {% if FinDeSeries.online == true %}
                                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12" style="padding-bottom: 20px">
                                    <div class="card-group" style="border-radius: 10px;border: 1px solid black;box-shadow: 10px 10px 5px -4px;">
                                        <div class="card" style="text-align: -webkit-center" id="n3">
                                            <div style="height: 300px">
                                                <img class="card-img-top" src="{{  vich_uploader_asset(FinDeSeries, 'imageFile') }}" alt="Card image cap" style="border-radius: 10px 10px 0 0;height: 100%; width: 100%">
                                            </div>
                                            <div class="card-body" style="min-height: 370px; padding: 0 40px 30px 40px">
                                                <hr>
                                                <h2 class="card-title" style="color: #6d509e"><strong>{{ FinDeSeries.title }}</strong></h2>
                                                <hr>
                                                <div style="min-height: 235px; word-break: break-word">
                                                    <p class="card-text"><i>{{ FinDeSeries.description}}</i></p>
                                                    <p class="card-text" style="text-align: center; color: red"><span><strong>{{ FinDeSeries.remise }}</strong></span></p>
                                                </div>

                                            </div>
                                            <div style="padding: 10px; background-color: #6d509e; border-radius: 10px; width: 80%; margin-bottom: 30px;box-shadow: 10px 10px 5px -4px;">
                                                <a href="{{ path ('contact') }}"><strong style="color: white">Demande de renseignements</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
