{% extends'base.html.twig' %}

{% block body %}
    <section class="section-wrapper" id="about">
        <div class="about-us">
            <div class="why-us">
                <div class="container">
                    <div class="row">
                        <div style="max-width: 700px; max-height: 200px; margin: 0 auto;"
                             class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">
                            <img style="width: 65%" src="{{ 'images/affiche.png' }}"
                                 alt="Logo Mouton des villes ">
                        </div>
                        <div class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
                            <p id="citation">Vous aider à créer une image qui vous ressemble... <i>#SylvieMdesigner</i>
                            </p>
                            <div class="wrapper-why-us">
                                <div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s"
                                     data-wow-delay="300ms">
                                    <a href="{{ path ('vitrine') }}"><i class="hovicon effect-1 sub-a"><b class="fa fa-heart" style="color: #6d509e; position: relative;bottom: 13%"></b></i></a>
                                    <h2><strong style="color : #FF249F">COUP DE COEUR</strong></h2>
                                    <p> Chaque mois, qu’il soit précurseur, en vogue, pratique, esthétique ou
                                        tout simplement compétitif pour que chacun y trouve une inspiration et
                                        puisse booster ses actions commerciales et de marketing.</p>
                                </div>
                                <div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s"
                                     data-wow-delay="450ms">
                                    <a href="{{ path ('vitrine') }}"><i class="hovicon effect-1 sub-a"><b class="fa fa-percent" style="color: #6d509e; position: relative;bottom: 13%"></b></i></a>
                                    <h2 style=" color: #FF249F"><strong>PROMOTION </strong></h2>
                                    <p> Tout au long de l’année, nous vous proposons ici des produits en promotion
                                        pour vos événementiels, pour fidéliser vos clients, pour provoquer une action au
                                        sein de votre entreprise, ou tout simplement pour offrir…</p>
                                </div>
                                <div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s"
                                     data-wow-delay="600ms">
                                    <a href="{{ path ('vitrine') }}"><i class="hovicon effect-1 sub-a"><b class="fa fa-box-open" style="color: #6d509e; position: relative;bottom: 13%"></b></i></a>
                                    <h2 style="color : #FF249F"><strong>FIN DE SÉRIE</strong></h2>
                                    <p>Le déstockage, c'est ici !
                                        Derniers produits disponibles à la vente, avec ou sans marquage. Nous consulter
                                        pour les quantités encore en stock et connaître les modalités de ventes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="facts parallax">
                <div class="overlay">
                    <div class="wrapper-block-facts">
                        <div class="container">
                            <div class="row">
                                <div class="element-title">
                                    <h1 id="titreSection" class="main-color wow fadeInUp" data-wow-duration="1s"
                                        data-wow-delay="300ms">
                                        Grand titre</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="wrapper-number">
                                    <div class="col-lg-6 col-md-6">
                                        <p id="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet
                                            at atque
                                            dicta error est eveniet exercitationem facilis maiores optio perspiciatis
                                            provident, quibusdam quis rem sint soluta tenetur ut voluptatibus?</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <p id="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet
                                            dicta et
                                            illo laborum magni maxime non nostrum praesentium soluta, voluptate,
                                            voluptatem? Deserunt dolores dolorum in laudantium officiis pariatur
                                            reprehenderit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-wrapper">
        <div class="team">
            <div class="meet-the-team">
                <div class="container">
                    <div class="row">
                        <div class="element-title wow fadeInDown element-title" data-wow-duration="1s" data-wow-delay="300ms">
                            <h1 id="titreSection">L'ÉQUIPE</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="wrapper-team">
                            <div class="col-lg-3 col-md-3">
                                <div class="team-member">
                                    <div class="team-member-holder wow flipInY" data-wow-duration="1s"
                                         data-wow-delay="500ms">
                                        <div class="team-member-image">
                                            <img src="{{ '../images/davidM.jfif' }}" alt="David Mesmacque"/>
                                            <div class="team-overlay">
                                                <div class="img-overlay"></div>
                                            </div>
                                            <div class="overlay-content">
                                                <div class="team-member-social-list">
                                                    <a class="team-member-social-list-item" href="https://www.facebook.com/ACDincFormationImmo"><i
                                                                class="fab fa-facebook-square"></i></a>
                                                    <a class="team-member-social-list-item" href="https://www.linkedin.com/in/davidmesmacque"><i
                                                                class="fab fa-twitter"></i></a>
                                                    <a class="team-member-social-list-item" href="{{ path('contact') }}"><i
                                                                class="fa fa-envelope"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-member-meta">
                                            <h4 class="team-member-name"><span class="main-color">D</span>avid <span
                                                        class="main-color">M</span>esmacque</h4>
                                            <div class="team-member-role">Directeur ACD-INC Business & Stratégie</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="team-member">
                                    <div style="border-radius: 10px" class="team-member-holder wow flipInY"
                                         data-wow-duration="1s"
                                         data-wow-delay="800ms">
                                        <div class="team-member-image">
                                            <img src="{{ '../images/DimitriB.jfif' }}" alt="Dimitri Bourlier"/>
                                            <!-- Change Image -->
                                            <div class="team-overlay">
                                                <div class="img-overlay"></div>
                                            </div>
                                            <div class="overlay-content">
                                                <div class="team-member-social-list">
                                                    <a class="team-member-social-list-item" href="#"><i
                                                                class="fab fa-facebook-square"></i></a>
                                                    <a class="team-member-social-list-item" href="#"><i
                                                                class="fab fa-twitter"></i></a>
                                                    <a class="team-member-social-list-item" href="#"><i
                                                                class="fa fa-envelope"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-member-meta">
                                            <h4 class="team-member-name"><span class="main-color">D</span>imitri <span
                                                        class="main-color">B</span>ourlier</h4>
                                            <div class="team-member-role">Responsable développement web</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="team-member">
                                    <div class="team-member-holder wow flipInY" data-wow-duration="1s"
                                         data-wow-delay="1100ms">
                                        <div class="team-member-image">
                                            <img src="{{ '../images/sylvieM.png' }}" alt="Sylvie Mesmacque"/>
                                            <!-- Change Image -->
                                            <div class="team-overlay">
                                                <div class="img-overlay"></div>
                                            </div>
                                            <div class="overlay-content">
                                                <div class="team-member-social-list">
                                                    <a class="team-member-social-list-item" href="https://www.facebook.com/ACDincFormationImmo"><i
                                                                class="fab fa-facebook-square"></i></a>
                                                    <a class="team-member-social-list-item" href="https://www.linkedin.com/in/davidmesmacque"><i
                                                                class="fab fa-twitter"></i></a>
                                                    <a class="team-member-social-list-item" href="{{ path('contact') }}"><i
                                                                class="fa fa-envelope"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-member-meta">
                                            <h4 class="team-member-name"><span class="main-color">S</span>ylvie <span
                                                        class="main-color">M</span>esmacque</h4>
                                            <div class="team-member-role">Directrice formation</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="team-single-wrap">
                <div id="team-single">
                </div>
            </div>
        </div>
        <div class="skills parallax">
            <div class="overlay">
                <div class="wrapper-block-skills">


                        <div class="container">
                            <div class="row">
                                <div class="element-title">
                                    <h1 id="titreSection" class="main-color wow fadeInDown" data-wow-duration="1s"
                                        data-wow-delay="300ms">Nos partenaires</h1>
                                </div>
                            </div>
                        </div>

                    <div class="row">
                        <div id="responsivePartenaire"  class="container">
                            <div class="wrapper-count">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                        <div id="partenaires" class="skill wow fadeInRight" data-wow-duration="1s"
                                             data-wow-delay="300ms">
                                            <a href="https://acd-inc.fr" target="_blank"><img class="photoPartenaires" id="realisation"
                                                                              src="{{ '../images/ACD_INC.jpg' }}" alt="ACD-INC"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div id="partenaires" class="skill wow fadeInRight" data-wow-duration="1s"
                                             data-wow-delay="300ms">
                                            <a href="https://acd-inc.fr/langues" target="_blank"><img class="photoPartenaires" id="realisation"
                                                            src="{{ '../images/Absolutly_English.png' }}" alt="Absolutly-English"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div id="partenaires" class="skill wow fadeInRight" data-wow-duration="1s"
                                             data-wow-delay="300ms">
                                            <a href="https://www.qigong.spirit.fr/" target="_blank"><img class="photoPartenaires" id="realisation"
                                                                                         src="{{ '../images/Qi_Gong.png' }}" alt="QI-GONG"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div id="partenaires" class="skill wow fadeInRight" data-wow-duration="1s"
                                             data-wow-delay="500ms">
                                            <a href="https://www.dmsc-int.com/" target="_blank"><img class="photoPartenaires" id="realisation"
                                                                                     src="{{ '../images/DMSC-int3.jpg' }}" alt="DMSC"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-wrapper" id="works">
        <div class="wrapper-block-skills">
            <div class="container">
                <div class="row">
                    <div class="element-title section-title wow fadeInDown element-title" data-wow-duration="1s"
                         data-wow-delay="300ms">
                        <h1 id="titreSection">Exemples de nos créations !</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="responsivePartenaire"  class="container">
                    <div class="wrapper-count">
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <h2 class="filter active titreCréa" id="titreSection">Immobilier</h2>
                                <div id="partenaires" class="skill wow fadeInRight" data-wow-duration="1s"
                                     data-wow-delay="300ms">
                                    <a href="https://acd-inc.fr" target="_blank"><img class="photoPartenaires" id="realisation"
                                                                                      src="{{ asset('images/immoIndex.jpg') }}" alt="immobilier"></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <h2 class="filter active titreCréa" id="titreSection">Immobilier</h2>
                                <div id="partenaires" class="skill wow fadeInRight" data-wow-duration="1s"
                                     data-wow-delay="300ms">
                                    <a href="https://acd-inc.fr/langues" target="_blank"><img class="photoPartenaires" id="realisation"
                                                                                              src="{{ asset('images/bacheRuIndex.jpg') }}" alt="bache"></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <h2 class="filter active titreCréa" id="titreSection">Immobilier</h2>
                                <div id="partenaires" class="skill wow fadeInRight" data-wow-duration="1s"
                                     data-wow-delay="300ms">
                                    <a href="https://www.qigong.spirit.fr/" target="_blank"><img class="photoPartenaires" id="realisation"
                                                                                                 src="{{ asset('images/marquageIndex.jpg') }}" alt="Marquage"></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <h2 class="filter active titreCréa" id="titreSection">Immobilier</h2>
                                <div id="partenaires" class="skill wow fadeInRight" data-wow-duration="1s"
                                     data-wow-delay="500ms">
                                    <a href="https://www.dmsc-int.com/" target="_blank"><img class="photoPartenaires" id="realisation"
                                                                                             src="{{ asset('images/logoIndex.jpg') }}" alt="Logo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="partners parallax">
            <div class="overlay">
                <div class="wrapper-block-partners">
                    <div class="container">
                        <div class="row element-title">
                            <h1 id="titreSection" class="main-color wow fadeInDown" data-wow-duration="1s"
                                data-wow-delay="300ms">NOS BOUTIQUES</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="wrapper-partners">
                                <div class="col-lg-6 col-md-6 partners-img wow fadeInRight"
                                     data-wow-duration="1s"
                                     data-wow-delay="300ms">
                                    <a href="{{ path('products') }}"> <p class="shop" id="white">Objets/goodies</p></a>
                                    <a href="{{ path('products') }}"><img id="realisation" src="{{ '../images/schwarz-wolf2.png' }}" alt="Schwarz-wolf boutique"></a>
                                </div>
                                <div class="col-lg-6 col-md-6 partners-img wow fadeInRight"
                                     data-wow-duration="1s"
                                     data-wow-delay="500ms">
                                    <a href="{{ path('products') }}"><p class="shop" id="white">Textile</p></a>
                                    <a href="{{ path('products') }}"><img id="realisation" src="{{ '../images/galimard1.png' }}" alt="Galimard"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>let messages = [];
        firstName = [];
        lastName = [];
        {% for review in toutesLesReviews %}
        messages.push({{ review.message | json_encode(constant('JSON_UNESCAPED_UNICODE')) | raw }})
        firstName.push({{ review.firstname | json_encode(constant('JSON_UNESCAPED_UNICODE')) | raw }})
        lastName.push({{ review.lastname | json_encode(constant('JSON_UNESCAPED_UNICODE')) | raw }})
        {% endfor %}</script>
    <section class="section-wrapper">
        <div class="overlay">
            <div class="wrapper-block-clients">
                <div class="container">
                    <div class="row">
                        <div style="display: flex; justify-content: center" class="element-title">
                            <h1 id="titreSection" class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">Avis clients</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="wrapper-clients wow fadeInDown" data-wow-duration="1s" data-wow-delay="500ms">
                            <div class="carousel slide carousel-mod" data-ride="carousel" id="testimonial">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div id="pAvis" style="display: flex; justify-content: center" class="testimonial-inner">

                                                </div>
                                                <div class="row" id="name"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div id="pAvis2" style="display: flex; justify-content: center" class="testimonial-inner"></div>
                                                <div id="name2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div id="pAvis3" style="display: flex; justify-content: center" class="testimonial-inner">

                                                </div>
                                                <div id="name3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ol class="carousel-indicators">
                                    <li data-target="#testimonial" data-slide-to="0" class="active"></li>
                                    <li data-target="#testimonial" data-slide-to="1"></li>
                                    <li data-target="#testimonial" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
