<a href="#" class="scroll-up"><i class="fa fa-arrow-up"></i></a>
<div class="bottom-footer">
    <div class="container">
        <div class=" wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
            <ul class="bottom-social-icons">
                <li><a href="https://fr-fr.facebook.com/lemoutondesvilles"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://fr.linkedin.com/company/acd-inc-business-strat%C3%A9gie"><i
                                class="fab fa-linkedin-in"></i></a></li>
                {# <li><a href="#"><i class="fa fa-instagram"></i></a></li> #}
                {# <li><a href="#"><i class="fa fa-flickr"></i></a></li> #}
            </ul>
        </div>
        <div id="white" class="footerCenter wow fadeInUp" data-wow-duration="1s" data-wow-delay="450ms">
            <p style="color: black">
                <span>&#169; 2017 - {{ 'now' | date ('Y') }}- SAS Le mouton des villes </span> -
                <a id="mentionsLegales" href="{{ path ('mentions_legales') }}">Mentions légales</a> -
                <a href="{{ path ('app_login') }}"><i class="fa fa-user"></i></a>
                {% if is_granted ('ROLE_ADMIN') %}
                <a href="{{ path('gestion_admin') }}"> - <i class="fa fa-list"></i></a>
                <a href="{{ path ('app_logout') }}"> - <i class="fa fa-times-circle"></i></a></p>
                {% endif %}
        </div>
    </div>
</div>

