<!-- Preloader -->
{#<div id="preloader">#}
{#    <div id="status">#}
{#        <div class="spinner">#}
{#            <div class="rect1"></div>#}
{#            <div class="rect2"></div>#}
{#            <div class="rect3"></div>#}
{#            <div class="rect4"></div>#}
{#            <div class="rect5"></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<!-- End Preloader -->#}

<div >
    <img class="bandeau" src="{{ 'https://via.placeholder.com/1920x190' }}"
         alt="bandeau le mouton des villes">
</div>
<!-- Bootstrap Menu -->
<div id="navigation">
    <nav class="navbar-inverse navbar-static-top" role="navigation">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#"></a>
            </div>
            <div id="" class="navbar-collapse collapse">
                <ul class="nav navbar-nav main-nav-list">
                    <li><a class="navLetter" href="{{ path ('default') }}">Accueil</a></li>
                    <li><a class="navLetter" href="{{ path ('products') }}">Boutique</a></li>
                    <li><a class="navLetter" href="{{ path ('gallery') }}">Gallerie</a></li>
                    <li><a class="navLetter" href="{{ path ('a_propos') }}">À propos</a></li>
                    <li><a class="navLetter" href="{{ path ('contact') }}">Contact</a></li>
                    {% if is_granted ('ROLE_ADMIN') %}
                    <li><a href="{{ path('gestion_admin') }}"><i class="fa fa-cog"></i> Gestion Admin</a></li>
                    <li><a href="{{ path ('app_logout') }}"><i class="fa fa-times-circle"></i> Déconnection</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>